# この.gitignoreファイルはUnityプロジェクトのルートに配置してください

# Libraryフォルダを無視
**/[Ll]ibrary/

# Unity特有の一時ファイルを無視
/[Tt]emp/  # Tempフォルダを無視
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/  # Logsフォルダを無視
/[Uu]ser[Ss]ettings/  # UserSettingsフォルダを無視
/Temp/

# メモリキャプチャが大きくなるため無視
/[Mm]emoryCaptures/

# 録画ファイルを無視
/[Rr]ecordings/

# Asset Store Toolsプラグインを無視（必要であればコメントを外す）
# /[Aa]ssets/AssetStoreTools*

# 自動生成されたJetbrains Riderプラグイン
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studioキャッシュディレクトリ
.vs/

# Gradleキャッシュディレクトリ
.gradle/

# 自動生成されたVS/MD/Consuloソリューションとプロジェクトファイル
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3Dで生成されるメタファイル
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3Dのクラッシュレポートで生成されるファイル
sysinfo.txt

# ビルドファイルを無視
*.apk
*.aab
*.unitypackage
*.app

# Crashlyticsで生成されるファイル
crashlytics-build.properties

# Packed Addressablesを無視
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# 一時的なAndroid Assetsを無視
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
